# some of the values will be filled by install.sh script
global:
  clusterName: x
  domain: x

  automated: true
  spec:
    destination:
      server: https://kubernetes.default.svc
    source:
      repoURL: x
      targetRevision: x
    values:
      repoURL: x
      targetRevision: x

# There are three types of ArgocdApplications: kustomize, helm, and raw. Default is helm
ArgocdApplications:

  #=================================#
  #      Platform Tools             #
  #=================================#

  keycloak:
    enabled: false

  keycloak-operator:
    enabled: false
    namespace: keycloak

  external-secrets:
    enabled: false

  cert-manager:
    enabled: false

  kyverno:
    enabled: false
    finalizer:
      - post-delete-finalizer.argocd.argoproj.io
      - post-delete-finalizer.argocd.argoproj.io/cleanup

  policy:
    enabled: false
    namespace: kyverno
    path: values/{{ $.Values.global.clusterName }}/platform/policy/
    type: raw

  dashboards:
    enabled: false
    namespace: monitoring
    type: kustomize

  loki:
    enabled: false
    namespace: monitoring

  promtail:
    enabled: false
    namespace: monitoring

  opencost:
    enabled: false

  ingress-nginx-external:
    enabled: false

  kube-prometheus-stack-crds:
    enabled: true # should be enabled by default. PodMonitor and ServiceMonitor CRDs are required for other charts to work.
    namespace: monitoring

  #=================================#
  #      Developer Applications       #
  #=================================#

  # a sample of microservice with internal traffic
  price-peek:
    enabled: false
    path: templates/generic-deployment
    valuesFolder: applications
    namespace: backend
