ArgocdApplications:

  #=================================#
  #      Platform Core Apps         #
  #=================================#

  argocd-image-updater:
    enabled: true

  raw:
    enabled: true

  backstage:
    enabled: false

  team-setup:
    enabled: true

  rancher:
    enabled: false

  #=================================#
  #      Data Services          #
  #=================================#

  database:
    enabled: true

  postgres-operator:
    enabled: true

  pgadmin:
    enabled: true

  redis:
    enabled: false

  #=================================#
  #      Network Services           #
  #=================================#

  metallb:
    enabled: true
    ignoreDifferences:
      - group: apiextensions.k8s.io
        kind: CustomResourceDefinition
        name: bgppeers.metallb.io
        jsonPointers:
          - /spec/conversion/webhook/clientConfig/caBundle

  external-dns:
    enabled: true

  ingress-nginx-internal:
    enabled: true

  ingress-nginx-external:
    enabled: true

  cilium:
    enabled: true
    syncWave: 1
    ignoreDifferences:
      - group: "*"
        kind: "*"
        jsonPointers:
        - /spec/template/spec/securityContext/appArmorProfile
  #=================================#
  #      Security & Auth            #
  #=================================#

  keycloak:
    enabled: true
    syncWave: 1

  keycloak-operator:
    enabled: true
    syncWave: 1

  cert-manager:
    enabled: true

  vault:
    enabled: false

  sealed-secrets:
    enabled: false

  oauth2-proxy:
    enabled: true
    syncWave: 1

  external-secrets:
    enabled: false

  kyverno:
    enabled: false

  #=================================#
  #      Monitoring Stack           #
  #=================================#

  dashboards:
    enabled: true
    syncWave: 1

  metrics-server:
    enabled: true
    syncWave: 1

  kube-prometheus-stack:
    enabled: true
    syncWave: 1

  loki:
    enabled: true
    syncWave: 1
    ignoreDifferences:
    - group: apps
      kind: StatefulSet
      jsonPointers:
        - /spec/volumeClaimTemplates

  promtail:
    enabled: true
    syncWave: 1

  opencost:
    enabled: true
    syncWave: 1

  #=================================#
  #           AI Tools              #
  #=================================#

  ollama:
    enabled: true

  #=================================#
  #      Example Applications       #
  #=================================#

  grpc-server:
    enabled: true

  show-env:
    enabled: true
    annotations:
      argocd-image-updater.argoproj.io/image-list: ghcr.io/kuberise/show-env:latest
      argocd-image-updater.argoproj.io/update-strategy: digest
      argocd-image-updater.argoproj.io/write-back-method: git

  frontend-https:
    enabled: true

  backend:
    enabled: true
