# some of the values will be filled by install.sh script
global:
  clusterName: x
  domain: x

  automated: true
  spec:
    destination:
      server: https://kubernetes.default.svc
    source:
      repoURL: x
      targetRevision: x
    values:
      repoURL: x
      targetRevision: x

# There are three types of ArgocdApplications: kustomize, helm, and raw. Default is helm
ArgocdApplications:

  #=================================#
  #      Platform Core Apps         #
  #=================================#

  raw:
    enabled: false
    path: values/{{ $.Values.global.clusterName }}/platform/raw
    type: raw
    recursive: true

  argocd-image-updater:
    enabled: false
    namespace: argocd

  teams-namespaces:
    enabled: false

  team-setup:
    enabled: false
    namespace: keycloak

  backstage:
    enabled: false

  gitea:
    enabled: false

  hello:
    enabled: false
    type: kustomize

  rancher:
    enabled: false
    namespace: cattle-system

  vcluster:
    enabled: false

  # The helm chart coppied from the github repo manually. It is not available in the helm repo. Should be updated manually.
  # https://github.com/tektoncd/operator/tree/release-v0.75.x
  tekton-operator:
    enabled: false

  tekton-pipelines:
    enabled: false
    path: values/{{ $.Values.global.clusterName }}/platform/tekton-pipelines
    type: raw

  keda:
    enabled: false

  #=================================#
  #      Data Services              #
  #=================================#

  database:
    enabled: false
    namespace: postgres
    path: values/{{ $.Values.global.clusterName }}/platform/database/
    type: raw

  postgres-operator:
    enabled: false
    namespace: postgres

  pgadmin:
    enabled: false

  redis:
    enabled: false

  minio:
    enabled: false

  object-storage:
    enabled: false
    path: values/{{ $.Values.global.clusterName }}/platform/object-storage/
    type: raw

  #=================================#
  #      Network Services           #
  #=================================#

  metallb:
    enabled: false

  internal-dns:
    enabled: false
    path: templates/external-dns

  external-dns:
    enabled: false
    path: templates/external-dns

  ingress-nginx-external:
    enabled: false

  ingress-nginx-internal:
    enabled: false

  cilium:
    enabled: false
    namespace: kube-system

  aws-lb-controller:
    enabled: false
    namespace: kube-system

  external-dns-sigs:
    enabled: false

  # custom ingress resources
  ingresses:
    enabled: false

  #=================================#
  #      Security & Auth            #
  #=================================#

  keycloak:
    enabled: false

  keycloak-operator:
    enabled: false
    namespace: keycloak

  external-secrets:
    enabled: false

  oauth2-proxy:
    enabled: false
    namespace: keycloak

  cert-manager:
    enabled: false

  kyverno:
    enabled: false
    finalizers:
      - post-delete-finalizer.argocd.argoproj.io
      - post-delete-finalizer.argocd.argoproj.io/cleanup

  policy:
    enabled: false
    namespace: kyverno
    path: values/{{ $.Values.global.clusterName }}/platform/policy/
    type: raw

  sealed-secrets:
    enabled: false

  vault:
    enabled: false

  vault-secrets-operator:
    enabled: false
    namespace: vault

  secrets:
    enabled: false
    namespace: vault
    path: values/{{ $.Values.global.clusterName }}/platform/secrets/
    type: raw

  secrets-manager:
    enabled: false

  neuvector:
    enabled: false

  #=================================#
  #      Monitoring Stack           #
  #=================================#

  dashboards:
    enabled: false
    namespace: monitoring
    type: kustomize

  metrics-server:
    enabled: false
    namespace: kube-system

  # TODO: should be updated manually
  kube-prometheus-stack-crds:
    enabled: true # should be enabled by default. PodMonitor and ServiceMonitor CRDs are required for other charts to work.
    namespace: monitoring

  kube-prometheus-stack:
    enabled: false
    namespace: monitoring
    serverSideApply: false

  loki:
    enabled: false
    namespace: monitoring

  promtail:
    enabled: false
    namespace: monitoring

  opencost:
    enabled: false

  #=================================#
  #           AI Tools              #
  #=================================#

  ollama:
    enabled: false

  k8sgpt:
    enabled: false

  #=================================#
  #      Example Applications       #
  #=================================#

  grpc-server:
    enabled: false
    path: templates/generic-deployment
    valuesFolder: applications
    namespace: frontend
    team: frontend

  # http container example with external traffic
  show-env:
    enabled: false
    path: templates/generic-deployment
    valuesFolder: applications
    namespace: frontend
    team: frontend

  # https container example with external traffic that receives traffic over https from ingress controller
  frontend-https:
    enabled: false
    path: templates/generic-deployment
    valuesFolder: applications
    namespace: frontend
    team: frontend

  # a sample of microservice with internal traffic
  backend:
    enabled: false
    path: templates/generic-deployment
    valuesFolder: applications
    team: backend

  # a sample of microservice with internal traffic
  api:
    enabled: false
    path: templates/generic-deployment
    valuesFolder: applications
    namespace: backend
    team: backend
