ArgocdApplications:

  #=================================#
  #      Platform Core Apps         #
  #=================================#

  argocd-image-updater:
    enabled: false

  raw:
    enabled: true

  backstage:
    enabled: false

  team-setup:
    enabled: true

  #=================================#
  #      Data Services          #
  #=================================#

  database:
    enabled: true

  postgres-operator:
    enabled: true

  pgadmin:
    enabled: false

  redis:
    enabled: false

  minio:
    enabled: false

  #=================================#
  #      Network Services           #
  #=================================#

  internal-dns: # bitnami chart doesn't work well with azure-private-dns provider
    enabled: true
    chart: external-dns
    repoURL: https://kubernetes-sigs.github.io/external-dns/
    targetRevision: 1.20.0

  external-dns:
    enabled: true

  ingress-nginx-internal:
    enabled: true

  ingress-nginx-external:
    enabled: true

  cilium:
    enabled: false

  #=================================#
  #      Security & Auth            #
  #=================================#

  keycloak:
    enabled: true
    # syncWave: 1

  keycloak-config:
    enabled: true

  keycloak-operator:
    enabled: true

  cert-manager:
    enabled: true

  cert-manager-config:
    enabled: true

  vault:
    enabled: false

  sealed-secrets:
    enabled: false

  oauth2-proxy:
    enabled: true
    # syncWave: 2

  external-secrets:
    enabled: false

  kyverno:
    enabled: false

  neuvector:
    enabled: false

  #=================================#
  #      Monitoring Stack           #
  #=================================#

  dashboards:
    enabled: true

  metrics-server:
    enabled: false # not needed for AKS

  kube-prometheus-stack:
    enabled: true

  loki:
    enabled: true

  promtail:
    enabled: true

  opencost:
    enabled: true
    # syncWave: 1
  #=================================#
  #      Example Applications       #
  #=================================#

  show-env:
    enabled: true
    annotations:
      argocd-image-updater.argoproj.io/image-list: ghcr.io/kuberise/show-env:latest
      argocd-image-updater.argoproj.io/update-strategy: digest
      argocd-image-updater.argoproj.io/write-back-method: git

  frontend-https:
    enabled: true

  backend:
    enabled: true
