ArgocdApplications:

  #=================================#
  #      Platform Core Apps         #
  #=================================#

  raw:
    enabled: true

  #=================================#
  #          Data Services          #
  #=================================#

  database:
    enabled: true

  postgres-operator:
    enabled: true

  #=================================#
  #      Network Services           #
  #=================================#

  ingress-nginx-external:
    enabled: true

  #=================================#
  #      Security & Auth            #
  #=================================#

  keycloak:
    enabled: true

  keycloak-operator:
    enabled: true

  cert-manager:
    enabled: true

  #=================================#
  #      Monitoring Stack           #
  #=================================#

  dashboards:
    enabled: true

  kube-prometheus-stack:
    enabled: true

  loki:
    enabled: true

  promtail:
    enabled: true

  #=================================#
  #           AI Tools              #
  #=================================#


  #=================================#
  #      Example Applications       #
  #=================================#

  # Shared cluster is for platform components
  # Developer applications are deployed to app clusters
