services:
  - name: argocd-server
    namespace: argocd
    subdomain: argocd
  - name: backstage
    port: 7007
  - name: keycloak
    serviceName: keycloak-keycloakx-http
    annotations:
      nginx.ingress.kubernetes.io/app-root: /auth/
  - name: grafana
    namespace: monitoring
    serviceName: kube-prometheus-stack-grafana
  - name: prometheus
    namespace: monitoring
    subdomain: prometheus
    serviceName: kube-prometheus-stack-prometheus
    port: 9090
  - name: pgadmin
    serviceName: pgadmin-pgadmin4
  - name: show-env-dev
  # - name: todolist-frontend-dev
  - name: hello
    port: 8080
  # - name: echo
  #   port: 8080
  # - name: todolist-backend-dev
  - name: vault
    port: 8200
    serviceName: vault
  - name: vault-internal
    port: 8201
    serviceName: vault
