{{- range $name, $app := .Values.ArgocdApplications -}}
{{- $applicationType := default "helm" .type }}
{{- if .enabled }}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ $name }}
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "{{ default 1 .syncWave }}"
    {{- if .annotations }}
      {{- toYaml .annotations | nindent 4 }}
    {{- end }}
  finalizers:
  - resources-finalizer.argocd.argoproj.io
  {{- range .finalizers }}
  - {{ . }}
  {{- end }}
  labels:
    team: platform
spec:
  project: {{ $.Values.global.clusterName }}
  source:
    repoURL: {{ default $.Values.global.spec.source.repoURL .repoURL }}
    targetRevision: {{ default $.Values.global.spec.source.targetRevision .targetRevision }}
    {{- if .plugin }}
    plugin:
      {{- toYaml .plugin | nindent 4 }}
    {{- end }}
  {{- if eq $applicationType "helm" }}
    {{- if hasKey . "chart"}}
    chart: {{ .chart }}
    {{- else if hasKey . "path"}}
    path: {{ tpl .path $ }}
    {{- else }}
    path: templates/{{ $name }}
    {{- end }}
    helm:
      ignoreMissingValueFiles: true # adr 0002
      valueFiles:
        {{- if hasKey . "values"}}
        {{- if kindIs "slice" .values }}
        {{- range .values }}
        - {{ . }}
        {{- end }}
        {{- else }}
        - {{ .values }}
        {{- end }}
        {{- else if hasKey . "valuesFolder"}}
        - ../../values/defaults/{{ .valuesFolder }}/{{ $name }}/values.yaml
        - ../../values/{{ $.Values.global.clusterName }}/{{ .valuesFolder }}/{{ $name }}/values.yaml
        {{- else }}
        - ../../values/defaults/platform/{{ $name }}/values.yaml
        - ../../values/{{ $.Values.global.clusterName }}/platform/{{ $name }}/values.yaml
        {{- end }}
      parameters:
        - name: global.domain
          value: {{ $.Values.global.domain }}
        - name: global.clusterName
          value: {{ $.Values.global.clusterName }}
  {{- else }}
    {{- if hasKey . "path"}}
    path: {{ tpl .path $ }}
    {{- else }}
    path: templates/{{ $name }}
    {{- end }}
    {{- if .recursive }}
    directory:
      recurse: true
    {{- end }}
  {{- end }}
  destination:
    namespace: {{ default $name .namespace }}
    server: {{ default $.Values.global.spec.destination.server .destinationServer }}
  syncPolicy:
    {{- $automated := $.Values.global.automated }}
    {{- if hasKey . "automated" }}
      {{- $automated = .automated }}
    {{- end }}
    {{- if $automated }}
    automated:
      prune: true
      selfHeal: true
      allowEmpty: false
    {{- end }}
    retry:
      refresh: true
    syncOptions:
      - CreateNamespace=true
      {{- if hasKey . "serverSideApply" }}
      - ServerSideApply={{ .serverSideApply }}
      {{- else }}
      - ServerSideApply=true
      {{- end }}
      {{- range .syncOptions }}
      - {{ . }}
      {{- end }}
  {{- if .ignoreDifferences }}
  ignoreDifferences:
    {{- toYaml .ignoreDifferences | nindent 4 }}
  {{- end }}
---
{{- end }}
{{- end }}
