controller:
  watchIngressWithoutClass: false
  service:
    annotations:
      cloud.google.com/load-balancer-type: Internal
      external-dns.alpha.kubernetes.io/internal-hostname: kuberise.internal
      external-dns.alpha.kubernetes.io/access: private
      external-dns.alpha.kubernetes.io/owner: private-dns
